.contentContainer{
    margin: 0 2rem;
    display: flex;
}
.info{
    margin:2rem 0;
    border: 1px solid #f4f4f4;
    background-color: aliceblue;
    border-radius: 2rem;
    flex:20%;
    height: 30%;
}
.infoUser{
    padding: 3rem;
    margin: 2rem 0;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap:1rem;
}
.orderHistory{
    flex:70%;
    margin-left: 2rem;
    background-color: #f4f4f4;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.orderHistoryItem{
    margin: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    border-radius: 0.7rem;
}
.orderItems{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;
}
.orderItems img{
    width: 5rem;
    height: 5rem;
    border-radius: 0.7rem;
}
.orderItems-1{
    display: flex;
    gap:2rem;
}


